#menuBG {
    width:400px;
    height:470px;
    margin:10px auto;
    }

#frmMenu {
    width:400px;
    height:200px;
    }
#totalPrice {
    width:200px;
    height:190px;
    margin:0 auto;
    float:right;
    }

.left {
    width:200px;
    height:200px;
    float:left;
    }

.right {
    width:200px;
    height:200px;
    float:left;
    }

#showTime {
    width:200px;
    height:190px;
    margin:0px auto;
    float:left;
    }

#cart {
    top:0;margin:0px auto;
    width:400;
    height:40px
    }

#btnOrder {
    margin:10px 0px 0px 100px;
    width:100px;
    height:40px;
    }

body {
    background-color: darkblue;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkred;
}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkred;
}

div {
    font-family: cursive;
    color: darkred;
}
